body {
  text-align: center;
  font-style: monospace;
}
*{
  margin:0;
  padding:0;
  font-family:verdana;
}
.op{
    height:40px;
	width:40px;
}
.lol{
	background-image:url("./pexels-simon-berger-1323550.jpg");
  min-height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  position:absolute;
	color:white;
	text-align:centre;
}
	
.lolol{
	height:750px;
	width:100%;
}
.article01{
  height:200px;
	width:100%;

}
.article01 h2{
  text-align:right;
   margin-top:20px;
	margin-rghit:30px;
  	
	
}
.article02{
	text-align:left;
	height:200px;
	width:100%;
}

.article03{
 text-align:left;
   height:200px;
	width:100%;
}

.article04{
 text-align:right;
height:200px;
	width:100%;
}

.article05{
 text-align: left;
   height:200px;
	width:100%;
}


