body {
  text-align: center;
  font-style: monospace;
}
*{
  margin:0;
  padding:0;
  font-family:verdana;
}
.lol{
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  position:absolute;
}
	
.lolol{
	height:460px;
	width:100%;
}
.article01{
  height:50px;
	width:100%;
	background-color:#ff4500;
	animate:fade;
}
@keyframes fade{
	0%{
		opacity:0
	}
	50%{
	        opacity:1;
	}
	100%{
		opacity:2;
	}
}

