* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  text-align: center;
  font-family: cursive;
}

nav {
  width: 100vw;
}
.likhit {
  height: 40px;
  width: 40px;
}
div.aphoto {
  height: 100vh;
  width: 100vw;
  font-size: 2rem;
  text-shadow: 2px 2px 2px;
  color: rgb(128, 48, 48);
}
.aphoto {
  background: url(pexels-skitterphoto-9198.jpg) center/cover no-repeat;
  /* transition: all 2s ease; */
}
.aphoto a {
  text-decoration: none;
  color: green;
  font-size: 3rem;
}

